<div id="<%= dom_id currency %>">
  <p>
    <strong>Name:</strong>
    <%= currency.name %>
  </p>

  <p>
    <strong>Currency symbol:</strong>
    <%= currency.currency_symbol %>
  </p>

  <p>
    <strong>Iso code:</strong>
    <%= currency.iso_code %>
  </p>

</div>
